:host {
  background: url('/assets/img/slider-bg.jpg') no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.movies {
  font-family: "Dosis", sans-serif;
  &__title {
    font-size: 30px;
  }
  &__search {
    display: flex;
    margin-bottom: 40px;
    background: url('/assets/img/topsearch.png') no-repeat 99% center;
    outline: none;
    width: calc(100% - 40px);
    height: 46px;
    border: none;
    background-color: #233a50 !important;
    font-family: 'Nunito', sans-serif;
    color: #abb7c4;
    font-weight: 300;
    text-transform: none;
    font-size: 20px;
    padding: 0 20px;
    &::placeholder {
      font-family: 'Nunito', sans-serif;
      color: #abb7c4;
    }
  }
  &__name {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__rating {
    font-size: 18px;
    img {
      width: 17px;
    }
    span {
      font-size: 12px;
    }
  }
  &-catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &-wrap {
    width: 158px;
    height: 242px;
    margin: 0 10px 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 20px;
    text-align: center;
    box-shadow: rgb(0, 0, 0) -5px -50px 100px -15px inset;
    background-size: cover !important;
    &:hover {
      box-shadow: rgb(0, 0, 0) -5px -50px 100px 40px inset;
    }
    &:hover .movies-hvr{
      display: block;
    }
  }
  &-hvr {
    display: none;
    position: absolute;
    transform: translate(-10px, -140px);
    p {
      background: #dd003f;
      padding: 10px;
      border-radius: 50px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 700;
      font-family: 'Dosis', sans-serif;
      outline: none;
    }
  }
}
@media(max-width: 576px) {
  .movies {
    &-wrap {
      margin-left: auto;
      margin-right: auto;
    }
  }
}