<div class="container">
  <h2>Add Movie</h2>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <input 
      required
      type="text"
      #key="ngModel"
      ngModel
      name="key"
      placeholder="Key">
    <input 
      required
      type="text"
      #name="ngModel"
      ngModel
      name="name"
      placeholder="Name">
    <textarea
      required
      name="description"
      #description="ngModel"
      ngModel
      cols="30" 
      rows="5"
      placeholder="Description">
    </textarea>
    <input 
      required
      type="text"
      #genres="ngModel"
      ngModel
      name="genres"
      placeholder="Genres">
      <!-- <div class="input-wrap">
        <input
          name="action"
          type=""
          [value]="'action'"
          required
          #action="ngModel"
          checked
          ngModel>
        <input
          name="comedy"
          type="radio"
          [value]="'comedy'"
          required
          #comedy="ngModel"
          ngModel>
      </div> -->
    <input 
      required
      type="text"
      #rate="ngModel"
      [ngModel]="1"
      name="rate"
      min="1"
      max="10"
      placeholder="Rate">
    <input 
      required
      type="text"
      #length="ngModel"
      ngModel
      name="length"
      placeholder="Length">
    <input 
      required
      type="text"
      #img="ngModel"
      ngModel
      name="img"
      placeholder="Img URL">
    <button 
      [class.disabled]="f.invalid"
      [disabled]="f.invalid" 
      type="submit">
        send
    </button>
  </form>
  <h2>Delete Movie</h2>
  <div class="delete" *ngFor="let movie of movies">
    <div class="delete__name">{{movie.name}}</div>
    <img (click)="deleteMovie(movie)" src="/assets/img/delete.svg" alt="delete">
  </div>
</div>